@-webkit-keyframes entreeitems {
  0% {
    -webkit-transform: translateY(4vh);
            transform: translateY(4vh);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(2vh);
            transform: translateY(2vh);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: translateY(1vh);
            transform: translateY(1vh);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entreeitems {
  0% {
    -webkit-transform: translateY(4vh);
            transform: translateY(4vh);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(2vh);
            transform: translateY(2vh);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: translateY(1vh);
            transform: translateY(1vh);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes apparitionfondu {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes apparitionfondu {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.slogan {
  margin-bottom: 0.9rem;
  padding: 0rem 1rem;
  font-size: 2.2rem;
  font-weight: 900;
  text-align: center;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  margin-left: 4vw;
  font-size: 1.6rem;
  font-weight: 900;
}

h4 {
  margin: 0;
  font-weight: 900;
}

h5 {
  font-family: "Shrikhand", cursive;
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 0;
}

.header {
  width: 100%;
  background-color: white;
  height: 18vw;
  padding-top: 3vw;
  border-bottom: 1px #efefef solid;
  -webkit-box-shadow: 0 4px 4px rgba(163, 162, 162, 0.5);
          box-shadow: 0 4px 4px rgba(163, 162, 162, 0.5);
  z-index: 2;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .header {
    height: 5vw;
    padding-top: 0.3vw;
    position: fixed;
  }
}

@media all and (min-width: 1024px) {
  .header {
    height: 3vw;
    padding-top: 0.6vw;
    padding-bottom: 0vw;
    position: fixed;
    margin-top: 0vw;
  }
}

.header__logo {
  width: 60vw;
  margin-left: 20vw;
  margin-bottom: 1vw;
  margin-top: 1vw;
  position: relative;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .header__logo {
    width: 15vw;
    margin-left: 42.5vw;
  }
}

@media all and (min-width: 1024px) {
  .header__logo {
    width: 11vw;
    margin-top: 0vw;
    margin-left: 44.5vw;
  }
}

.header .fa-arrow-left {
  color: black;
  position: absolute;
  left: 5%;
  line-height: 13vw;
  font-size: 1.4rem;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .header .fa-arrow-left {
    line-height: 5vw;
  }
}

@media all and (min-width: 1024px) {
  .header .fa-arrow-left {
    line-height: 2.1vw;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  main {
    padding-top: 5.8vw;
  }
}

@media all and (min-width: 1024px) {
  main {
    padding-top: 3vw;
  }
}

.footer {
  background-color: #353535;
  padding: 1rem;
  color: #ffffff;
}

@media all and (min-width: 768px) {
  .footer {
    margin-top: 2.5vw;
  }
}

.footer__textlight {
  font-weight: 100;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer a:hover, .footer a:active {
  text-decoration: underline;
}

.footer .fas {
  color: white;
  margin-right: 0.5rem;
}

.footer .fa-handshake {
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

@media all and (min-width: 768px) {
  .footer__contenu {
    width: 85vw;
    margin-left: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media all and (min-width: 768px) {
  h5 {
    margin-left: 5vw;
    font-size: 1.6rem;
    margin-bottom: 0.5vw;
  }
}

.presentation {
  height: auto;
  background-color: #f6f6f6;
  margin-top: 4px;
  padding-bottom: 3.5vw;
}

.presentation a {
  text-decoration: none;
  color: inherit;
}

.presentation p {
  text-align: center;
  padding: 0 1rem;
  margin-top: 0px;
  font-size: 1.1rem;
}

@media all and (min-width: 1024px) {
  .presentation p {
    font-size: 1rem;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .presentation h2 {
    font-size: 1.5rem;
  }
}

@media all and (min-width: 1024px) {
  .presentation h2 {
    font-size: 1.5rem;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .presentation {
    padding-bottom: 0.1vw;
    width: 95vw;
    margin-left: 2.5vw;
    margin-top: 1vw;
    border-radius: 20px;
  }
}

@media all and (min-width: 1024px) {
  .presentation {
    padding-bottom: 1vw;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 1vw;
    border-radius: 20px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .fonctionnement__liste {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media all and (min-width: 1024px) {
  .fonctionnement__liste {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.listeresto {
  background-color: #f6f6f6;
  width: 100%;
  padding-bottom: 3.5vw;
  padding-top: 1vw;
}

@media all and (min-width: 768px) {
  .listeresto {
    width: 95vw;
    margin-left: 2.5vw;
    border-radius: 20px;
  }
}

.listeresto a {
  text-decoration: none;
  color: inherit;
}

.listeresto a:active > .article,
.listeresto a:hover > .article {
  -webkit-box-shadow: 3px 3px 18px #838282;
          box-shadow: 3px 3px 18px #838282;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  /*transition: 1s;*/
}

@media all and (min-width: 768px) {
  .listeresto h3 {
    margin-left: 1.5vw;
    margin-top: 1vw;
  }
}

@media all and (min-width: 768px) {
  .listeresto__liste {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    height: 70vw;
  }
}

.entete {
  width: 100%;
  margin-bottom: 0;
}

.entete__pict--lapalettedugout {
  background-image: url("/img/lapalettedugout.jpg");
  width: 100vw;
  height: 50vw;
  background-size: cover;
  background-position: center 70%;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .entete__pict--lapalettedugout {
    height: 25vw;
  }
}

@media all and (min-width: 1024px) {
  .entete__pict--lapalettedugout {
    height: 15vw;
    background-position: center 60%;
  }
}

.entete__pict--lanoteenchantee {
  background-image: url("/img/lanoteenchantee.jpg");
  width: 100vw;
  height: 50vw;
  background-size: cover;
  background-position: center 70%;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .entete__pict--lanoteenchantee {
    height: 25vw;
  }
}

@media all and (min-width: 1024px) {
  .entete__pict--lanoteenchantee {
    height: 15vw;
    background-position: center 60%;
  }
}

.entete__pict--alafrancaise {
  background-image: url("/img/alafrancaise.jpg");
  width: 100vw;
  height: 50vw;
  background-size: cover;
  background-position: center 70%;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .entete__pict--alafrancaise {
    height: 25vw;
  }
}

@media all and (min-width: 1024px) {
  .entete__pict--alafrancaise {
    height: 15vw;
    background-position: center 60%;
  }
}

.entete__pict--ledelicedessens {
  background-image: url("/img/ledelicedessens.jpg");
  width: 100vw;
  height: 50vw;
  background-size: cover;
  background-position: center 70%;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .entete__pict--ledelicedessens {
    height: 25vw;
  }
}

@media all and (min-width: 1024px) {
  .entete__pict--ledelicedessens {
    height: 15vw;
    background-position: center 60%;
  }
}

@media all and (min-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
}

.restotitre {
  width: 100%;
  border-radius: 25px 25px 0 0;
  background-color: #f6f6f6;
  margin-top: -5.5vw;
  padding: 1rem;
  padding-top: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .restotitre {
    margin-top: -3vw;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-radius: 50px 50px 0 0;
    width: 75vw;
    margin-left: 12.5vw;
  }
}

@media all and (min-width: 1024px) {
  .restotitre {
    margin-top: -2.7vw;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-radius: 75px 75px 0 0;
    width: 75vw;
    margin-left: 12.5vw;
  }
}

.pages {
  background-color: #f6f6f6;
}

.menus__liste {
  width: 100%;
  margin: 0;
  padding-top: 0rem;
}

@media all and (min-width: 1024px) {
  .menus__liste {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 0;
  }
}

.entrees div:last-child,
.plats div:last-child,
.desserts div:last-child {
  margin-bottom: 9vw;
}

@media all and (min-width: 1024px) {
  .entrees div:last-child,
  .plats div:last-child,
  .desserts div:last-child {
    margin-bottom: 4vw;
  }
}

@media all and (min-width: 1024px) {
  .entrees::before,
  .plats::before,
  .desserts::before {
    content: "";
    display: block;
    width: 20vw;
    height: 0.1rem;
    background-color: #99e2d0;
    -webkit-transform: rotate(90deg) translateX(100%) translateY(6000%);
            transform: rotate(90deg) translateX(100%) translateY(6000%);
    -webkit-animation: apparitionfondu;
            animation: apparitionfondu;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  }
}

@media all and (min-width: 1024px) {
  .entree--noteenchantee::before {
    content: "";
    display: block;
    width: 30vw;
    height: 0.1rem;
    background-color: #99e2d0;
    -webkit-transform: rotate(90deg) translateX(80%) translateY(9800%);
            transform: rotate(90deg) translateX(80%) translateY(9800%);
    -webkit-animation: apparitionfondu;
            animation: apparitionfondu;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  }
}

.titremenus {
  text-transform: uppercase;
  font-weight: 400;
}

.titremenus::after {
  content: "";
  display: block;
  width: 4rem;
  height: 0.3rem;
  background-color: #99e2d0;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .titremenus {
    margin-left: 25vw;
  }
}

@media all and (min-width: 1024px) {
  .titremenus {
    margin-bottom: 3vw;
    margin-top: 0;
    margin-left: 1vw;
  }
}

.menuitem {
  width: 90vw;
  height: 20vw;
  background-color: white;
  margin-left: 5vw;
  margin-bottom: 4vw;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 18px #e4e3e3;
          box-shadow: 1px 1px 18px #e4e3e3;
  overflow: hidden;
  position: relative;
  -webkit-animation-name: entreeitems;
          animation-name: entreeitems;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  /*animation-delay: 0;*/
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menuitem:first-child {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.menuitem:nth-child(2) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.menuitem:nth-child(3) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}

.menuitem:nth-child(4) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}

.menuitem:nth-child(5) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .menuitem {
    width: 50vw;
    height: 12vw;
    margin-left: 25vw;
  }
}

@media all and (min-width: 1024px) {
  .menuitem {
    width: 30vw;
    height: 7vw;
    margin-left: 0;
    margin-right: 0;
  }
}

.menuitem__nom {
  width: 85%;
  height: 100%;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  float: left;
}

.menuitem__nom h4 {
  padding-bottom: 0rem;
  padding-top: 0.5rem;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media all and (max-width: 370px) {
  .menuitem__nom h4 {
    font-size: 1rem;
  }
}

@media all and (min-width: 1024px) and (max-width: 1110px) {
  .menuitem__nom h4 {
    font-size: 1.1rem;
  }
}

.menuitem__nom p {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media all and (max-width: 370px) {
  .menuitem__nom p {
    font-size: 0.8rem;
  }
}

@media all and (min-width: 1024px) and (max-width: 1110px) {
  .menuitem__nom p {
    font-size: 0.9rem;
  }
}

.menuitem__prix {
  width: 15%;
  height: 100%;
  padding-top: 1.2em;
  padding-bottom: 3.5vw;
  padding-right: 7vw;
  padding-left: 3vw;
  font-size: 1.2rem;
  font-weight: 900;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media all and (max-width: 370px) {
  .menuitem__prix {
    font-size: 1rem;
  }
}

.menuitem:hover {
  -webkit-box-shadow: 3px 3px 18px #838282;
          box-shadow: 3px 3px 18px #838282;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}

.menuitem:hover > .menuitem__prix {
  -webkit-transform: translateX(-14vw);
          transform: translateX(-14vw);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.menuitem:hover > .menuitem__nom {
  width: 70%;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
  /*transform: scaleX(0.823);
      transform-origin: left;
      transition: transform 0.5s;*/
}

.menuitem:hover > .menuitem__icone {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  right: -16%;
}

.menuitem:hover > .menuitem__icone > .fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menuitem__icone {
  background-color: #99e2d0;
  height: 100%;
  width: 15%;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  border-radius: 0 20px 20px 0;
  float: right;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menuitem__icone .fa-check-circle {
  background-color: #99e2d0;
  color: white;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.saisieville {
  background-color: #e4e4e4;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  border: 0px;
  text-align: center;
  font-weight: 700;
}

.saisieville:focus {
  background-color: rgba(246, 246, 246, 0.1);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

@media all and (min-width: 768px) {
  .saisieville {
    border-radius: 20px 20px 0 0;
    border: 1px solid;
    border-color: #dfdfdf;
    -webkit-box-shadow: 1px 1px 18px #e4e3e3;
            box-shadow: 1px 1px 18px #e4e3e3;
  }
  .saisieville:focus {
    -webkit-box-shadow: 3px 3px 18px #838282;
            box-shadow: 3px 3px 18px #838282;
    -webkit-transition: -webkit-box-shadow 0.4s;
    transition: -webkit-box-shadow 0.4s;
    transition: box-shadow 0.4s;
    transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  }
}

.form--ville {
  position: relative;
}

.fa-map-marker-alt {
  position: absolute;
  top: 19%;
  left: 25%;
}

@media all and (min-width: 768px) {
  .fa-map-marker-alt {
    left: 20vw;
  }
}

.bouton--arrondi {
  width: 60vw;
  height: 12vw;
  margin-left: 20vw;
  margin-bottom: 3vw;
  margin-top: 3vw;
  border-radius: 29px;
  -webkit-box-shadow: 1px 1px 18px #e4e3e3;
          box-shadow: 1px 1px 18px #e4e3e3;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  line-height: 12vw;
}

.bouton--arrondi:hover, .bouton--arrondi:active {
  -webkit-box-shadow: 3px 3px 18px #838282;
          box-shadow: 3px 3px 18px #838282;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  opacity: 0.75;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .bouton--arrondi {
    width: 35vw;
    height: 5vw;
    line-height: 5vw;
    margin-left: 32.5vw;
  }
}

@media all and (min-width: 1024px) {
  .bouton--arrondi {
    width: 25vw;
    height: 4vw;
    line-height: 4vw;
    margin-left: 37.5vw;
    margin-top: 2vw;
    margin-bottom: 0.2vw;
  }
}

@media all and (min-width: 2100px) {
  .bouton--arrondi {
    width: 17vw;
    height: 2.5vw;
    line-height: 2.5vw;
    margin-top: 1vw;
  }
}

@media all and (min-width: 1024px) {
  .presentation .bouton--arrondi {
    margin-left: 27.5vw;
  }
}

@media all and (min-width: 2100px) {
  .presentation .bouton--arrondi {
    margin-left: 31.5vw;
  }
}

.etape {
  position: relative;
  width: 90vw;
  height: 18vw;
  margin-left: 5vw;
  margin-bottom: 5vw;
  line-height: 18vw;
  font-weight: 600;
  text-align: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 18px #e4e3e3;
          box-shadow: 1px 1px 18px #e4e3e3;
}

.etape:hover, .etape:active {
  background-color: rgba(147, 86, 220, 0.15);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 3px 3px 18px #838282;
          box-shadow: 3px 3px 18px #838282;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}

.etape:hover > .fas, .etape:active > .fas {
  color: #9356dc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .etape {
    width: 27vw;
    height: 6vw;
    line-height: 6vw;
    margin-left: 1vw;
    margin-right: 0vw;
    font-size: 0.9rem;
  }
}

@media all and (min-width: 1024px) {
  .etape {
    width: 24vw;
    height: 5vw;
    line-height: 5vw;
    margin-left: 1vw;
    margin-right: 0vw;
    border-radius: 30px;
  }
}

@media all and (min-width: 2100px) {
  .etape {
    width: 18vw;
    height: 3vw;
    line-height: 3vw;
  }
}

.etape .fas {
  padding-right: 1.8rem;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .etape .fas {
    padding-right: 1rem;
    font-size: 0.9rem;
  }
}

.etape__number {
  width: 1.5rem;
  height: 1.5rem;
  /*padding-top: 0.3rem;*/
  line-height: 1.5rem;
  font-size: 0.8rem;
  color: white;
  font-weight: 400;
  border-radius: 50%;
  background-color: #9356dc;
  position: absolute;
  left: -2%;
  top: 38%;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .etape__number {
    left: -6%;
    top: 30%;
  }
}

@media all and (min-width: 1024px) {
  .etape__number {
    left: -3.5%;
  }
}

@media all and (min-width: 2100px) {
  .etape__number {
    left: -2.5%;
  }
}

.coeurfavori .far {
  font-size: 2rem;
  opacity: 1;
}

.coeurfavori .far:hover, .coeurfavori .far:active {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.coeurfavori .fas {
  font-size: 2rem;
  -webkit-transform: translateX(-115%);
          transform: translateX(-115%);
  color: #9356dc;
  opacity: 0;
}

.coeurfavori .fas:hover, .coeurfavori .fas:active {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.coeurfavori:hover > .far {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

button {
  border: 0px;
  font-family: "Roboto", sans-serif;
  /*padding-bottom: 1rem;*/
}

.loader__bloc {
  width: 100vw;
  height: 100vh;
  background-color: rgba(147, 86, 220, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: wait;
  -webkit-animation: disparitionloader 0.5s ease-in-out 3s both;
          animation: disparitionloader 0.5s ease-in-out 3s both;
}

.loader__title {
  font-family: "Shrikhand", cursive;
  font-size: 2.5rem;
  color: #99e2d0;
}

.loader__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: #99e2d0;
}

.loader--circle {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: 0.5rem rgba(153, 226, 208, 0.6) dotted;
  display: inline-block;
  line-height: 100vh;
  -webkit-animation: tour 3s linear 0s infinite;
          animation: tour 3s linear 0s infinite;
  position: relative;
}

.loader--circle::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  border: 0.3rem rgba(153, 226, 208, 0.7) solid;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: 1rem;
  right: 1rem;
  left: 1rem;
  bottom: 1rem;
  animation: tour 1.5s linear 0s 2 reverse;
}

.loader--icone {
  width: 100%;
  display: inline-block;
  color: #99e2d0;
  text-align: center;
  line-height: 100vh;
  font-size: 2.5rem;
  -webkit-animation: tour 8s linear 0s 1;
          animation: tour 8s linear 0s 1;
  position: absolute;
  top: 35%;
}

/*@keyframes pendule {
  0% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(-50deg);
  }
}*/
/*animation-name: pendule;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.04, 0.66, 1, 0.43);
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;*/
@-webkit-keyframes tour {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes tour {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes disparitionloader {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0%;
    -webkit-transform: scale(0) translateX(100%);
            transform: scale(0) translateX(100%);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    height: 0;
  }
}

@keyframes disparitionloader {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0%;
    -webkit-transform: scale(0) translateX(100%);
            transform: scale(0) translateX(100%);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    height: 0;
  }
}

@-webkit-keyframes apparitionlorem {
  0% {
  }
  100% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
}

@keyframes apparitionlorem {
  0% {
  }
  100% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
}

/*.header--test,
.main--test,
.footer--test {
  animation: apparitionlorem 0.5s ease-in-out 3s both;
}*/
.article {
  width: 90vw;
  height: 65vw;
  margin-left: 5vw;
  margin-bottom: 5vw;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 18px #e4e3e3;
          box-shadow: 1px 1px 18px #e4e3e3;
  background-color: white;
  position: relative;
}

@media all and (min-width: 768px) {
  .article {
    width: 39vw;
    height: 30vw;
    margin-left: 0;
  }
}

.article__pict {
  width: 100%;
  height: 76%;
  border-radius: 20px 20px 0 0;
  background-size: cover;
  background-position: center 70%;
}

@media all and (min-width: 768px) {
  .article__pict {
    height: 73%;
  }
}

.article__legende {
  margin: 0.5rem;
  padding: 0.3rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 370px) {
  .article__legende {
    padding-top: 0.9vw;
  }
}

@media all and (min-width: 1024px) {
  .article__legende {
    margin-top: 0;
    padding-top: 1.5vw;
  }
}

.article p {
  margin-top: 0.2rem;
  margin-bottom: 0;
}

@media all and (min-width: 1024px) {
  .article p {
    font-size: 1.2rem;
  }
}

.article .far {
  font-size: 2rem;
  position: absolute;
  right: 5%;
  bottom: 15%;
}

.article .far:hover, .article .far:active {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.article .fas {
  font-size: 2.1rem;
  color: #9356dc;
  opacity: 0;
  position: absolute;
  right: 4.9%;
  bottom: 15%;
}

.article .fas:hover, .article .fas:active {
  opacity: 1;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.article__pict--lapalettedugout {
  background-image: url(/img/lapalettedugout.jpg);
}

.article__pict--lanoteenchantee {
  background-image: url(/img/lanoteenchantee.jpg);
}

.article__pict--alafrancaise {
  background-image: url(/img/alafrancaise.jpg);
}

.article__pict--ledelicedessens {
  background-image: url(/img/ledelicedessens.jpg);
}

.nouveau {
  display: inline-block;
  border-radius: 3px;
  color: #1b6150;
  font-weight: 600;
  background-color: #99e2d0;
  width: 24.3vw;
  height: 5.85vw;
  line-height: 5.85vw;
  position: absolute;
  right: 5%;
  top: 5%;
  text-align: center;
}

@media all and (min-width: 768px) {
  .nouveau {
    width: 10.53vw;
    height: 2.7vw;
    line-height: 2.7vw;
  }
}

@media all and (min-width: 1024px) {
  .article h4 {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
  }
}
/*# sourceMappingURL=style.css.map */