@-webkit-keyframes tourcomplet {
  0% {
    /*transform: translateX(15vw);*/
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    /*transform: translateX(7, 5vw);*/
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes tourcomplet {
  0% {
    /*transform: translateX(15vw);*/
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    /*transform: translateX(7, 5vw);*/
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.slogan {
  margin-bottom: 0.9rem;
  padding: 0rem 1rem;
  font-size: 2.2rem;
  font-weight: 900;
  text-align: center;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  margin-left: 4vw;
  font-size: 1.6rem;
  font-weight: 900;
}

h4 {
  margin: 0;
  font-weight: 900;
}

h5 {
  font-family: "Shrikhand", cursive;
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 0;
}

.header {
  width: 100%;
  height: 18vw;
  padding-top: 3vw;
  border-bottom: 1px #efefef solid;
  -webkit-box-shadow: 0 4px 4px rgba(163, 162, 162, 0.5);
          box-shadow: 0 4px 4px rgba(163, 162, 162, 0.5);
  z-index: 2;
}

.header__logo {
  width: 60vw;
  margin-left: 20vw;
  margin-bottom: 1vw;
  margin-top: 1vw;
  position: relative;
}

.header .fa-arrow-left {
  color: black;
  position: absolute;
  left: 5%;
  line-height: 13vw;
  font-size: 1.4rem;
}

.footer {
  background-color: #353535;
  padding: 1rem;
  color: #ffffff;
}

.footer__textlight {
  font-weight: 100;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer a:hover, .footer a:active {
  text-decoration: underline;
}

.footer .fas {
  color: white;
  margin-right: 0.5rem;
}

.footer .fa-handshake {
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.presentation {
  height: auto;
  background-color: #f6f6f6;
  margin-top: 4px;
  padding-bottom: 3.5vw;
}

.presentation p {
  text-align: center;
  padding: 0 1rem;
  margin-top: 0px;
  font-size: 1.1rem;
}

.listeresto {
  background-color: #f6f6f6;
  width: 100%;
  padding-bottom: 3.5vw;
  padding-top: 3.5vw;
}

.listeresto a {
  text-decoration: none;
  color: inherit;
}

.listeresto a:active > .article,
.listeresto a:hover > .article {
  -webkit-box-shadow: 4px 4px 4px #838282;
          box-shadow: 4px 4px 4px #838282;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  /*transition: 1s;*/
}

.entete {
  width: 100%;
  margin-bottom: 0;
}

.entete__pict--lapalettedugout {
  background-image: url("/img/lapalettedugout.jpg");
  width: 100vw;
  height: 50vw;
  background-size: cover;
  background-position: center 70%;
}

.entete__pict--lanoteenchantee {
  background-image: url("/img/lanoteenchantee.jpg");
  width: 100vw;
  height: 50vw;
  background-size: cover;
  background-position: center 70%;
}

.entete__pict--alafrancaise {
  background-image: url("/img/alafrancaise.jpg");
  width: 100vw;
  height: 50vw;
  background-size: cover;
  background-position: center 70%;
}

.entete__pict--ledelicedessens {
  background-image: url("/img/ledelicedessens.jpg");
  width: 100vw;
  height: 50vw;
  background-size: cover;
  background-position: center 70%;
}

.restotitre {
  width: 100%;
  border-radius: 25px 25px 0 0;
  background-color: #f6f6f6;
  margin-top: -5vw;
  padding: 1rem;
  padding-top: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pages {
  background-color: #f6f6f6;
}

.menus {
  width: 100%;
  margin: 0;
  padding-top: 0rem;
}

.entrees div:last-child,
.plats div:last-child,
.desserts div:last-child {
  margin-bottom: 9vw;
}

.titremenus {
  text-transform: uppercase;
  font-weight: 400;
}

.titremenus::after {
  content: "";
  display: block;
  width: 4rem;
  height: 0.3rem;
  background-color: #99e2d0;
}

.menuitem {
  width: 90vw;
  height: 20vw;
  background-color: white;
  margin-left: 5vw;
  margin-bottom: 4vw;
  border-radius: 20px;
  -webkit-box-shadow: 3px 4px 3px #e4e3e3;
          box-shadow: 3px 4px 3px #e4e3e3;
  overflow: hidden;
  position: relative;
}

.menuitem__nom {
  width: 85%;
  height: 100%;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  float: left;
}

.menuitem__nom h4 {
  padding-bottom: 0rem;
  padding-top: 0.5rem;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuitem__nom p {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuitem__prix {
  width: 15%;
  height: 100%;
  padding-top: 1.2em;
  padding-bottom: 3.5vw;
  padding-right: 7vw;
  padding-left: 3vw;
  font-size: 1.2rem;
  font-weight: 900;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menuitem:hover {
  -webkit-box-shadow: 4px 4px 4px #838282;
          box-shadow: 4px 4px 4px #838282;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}

.menuitem:hover > .menuitem__prix {
  -webkit-transform: translateX(-14vw);
          transform: translateX(-14vw);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.menuitem:hover > .menuitem__nom {
  width: 70%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.menuitem:hover > .menuitem__icone {
  -webkit-transform: translateX(-14vw);
          transform: translateX(-14vw);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  right: -16%;
}

.menuitem:hover > .menuitem__icone > .fa-check-circle {
  -webkit-animation-name: tourcomplet;
          animation-name: tourcomplet;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.menuitem__icone {
  background-color: #99e2d0;
  height: 100%;
  width: 15%;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  border-radius: 0 20px 20px 0;
  float: right;
  -webkit-transform: translateX(14vw);
          transform: translateX(14vw);
  position: absolute;
  right: 0;
}

.menuitem__icone .fa-check-circle {
  background-color: #99e2d0;
  color: white;
  font-size: 2rem;
  padding-left: 4vw;
  padding-right: 4.5vw;
  padding-top: 6vw;
  padding-bottom: 7vw;
}

.saisieville {
  background-color: #e4e4e4;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  border: 0px;
  text-align: center;
  font-weight: 700;
}

.form--ville {
  position: relative;
}

.fa-map-marker-alt {
  position: absolute;
  top: 19%;
  left: 25%;
}

.bouton--arrondi {
  width: 60vw;
  height: 12vw;
  margin-left: 20vw;
  margin-bottom: 10vw;
  margin-top: 5vw;
  border-radius: 29px;
  -webkit-box-shadow: 3px 4px 3px #e4e3e3;
          box-shadow: 3px 4px 3px #e4e3e3;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  line-height: 12vw;
}

.bouton--arrondi:hover, .bouton--arrondi:active {
  -webkit-box-shadow: 4px 4px 4px #838282;
          box-shadow: 4px 4px 4px #838282;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  opacity: 0.75;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.etape {
  position: relative;
  width: 90vw;
  height: 18vw;
  margin-left: 4vw;
  margin-bottom: 5vw;
  padding-top: 7.4vw;
  font-weight: 600;
  text-align: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  -webkit-box-shadow: 3px 4px 3px #e4e3e3;
          box-shadow: 3px 4px 3px #e4e3e3;
}

.etape:hover, .etape:active {
  background-color: rgba(147, 86, 220, 0.15);
  -webkit-box-shadow: 4px 4px 4px #838282;
          box-shadow: 4px 4px 4px #838282;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}

.etape:hover > .fas, .etape:active > .fas {
  color: #9356dc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.etape .fas {
  padding-right: 1.8rem;
}

.etape__number {
  width: 1.5rem;
  height: 1.5rem;
  padding-top: 0.3rem;
  font-size: 0.8rem;
  color: white;
  font-weight: 400;
  border-radius: 50%;
  background-color: #9356dc;
  position: absolute;
  left: -2%;
  top: 38%;
}

.coeurfavori .far {
  padding-right: 1rem;
  position: relative;
  font-size: 1.1rem;
  opacity: 1;
}

.coeurfavori .far:hover, .coeurfavori .far:active {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.coeurfavori .fas {
  padding-right: 1rem;
  position: absolute;
  right: 1.05rem;
  color: #9356dc;
  opacity: 0;
}

.coeurfavori .fas:hover, .coeurfavori .fas:active {
  opacity: 1;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

button {
  border: 0px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 1rem;
}

.article {
  width: 90vw;
  height: 65vw;
  margin-left: 4vw;
  margin-bottom: 5vw;
  border-radius: 20px;
  -webkit-box-shadow: 3px 4px 3px #e4e3e3;
          box-shadow: 3px 4px 3px #e4e3e3;
  background-color: white;
}

.article__pict {
  width: 100%;
  height: 50vw;
  border-radius: 20px 20px 0 0;
  background-size: cover;
  background-position: center 70%;
}

.article__legende {
  margin: 0.5rem;
  padding: 0.3rem;
  position: relative;
}

.article p {
  margin-top: 0.2rem;
  margin-bottom: 0;
}

.article .far {
  position: absolute;
  right: 5%;
  bottom: 25%;
}

.article .far:hover, .article .far:active {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.article .fas {
  color: #9356dc;
  opacity: 0;
  position: absolute;
  right: 5%;
  bottom: 25%;
}

.article .fas:hover, .article .fas:active {
  opacity: 1;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.article__pict--lapalettedugout {
  background-image: url(/img/lapalettedugout.jpg);
}

.article__pict--lanoteenchantee {
  background-image: url(/img/lanoteenchantee.jpg);
}

.article__pict--alafrancaise {
  background-image: url(/img/alafrancaise.jpg);
}

.article__pict--ledelicedessens {
  background-image: url(/img/ledelicedessens.jpg);
}

.nouveau {
  display: inline-block;
  border-radius: 3px;
  color: #1b6150;
  font-weight: 600;
  background-color: #99e2d0;
  width: 25vw;
  height: 6vw;
  padding-top: 0.8vw;
  margin-left: 62vw;
  margin-top: 3vw;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */