.footer {
  background-color: $color-footer;
  padding: 1rem;
  color: #ffffff;
  &__textlight {
    font-weight: 100;
  }
  p {
    font-size: 0.9rem;
  }
  a {
    text-decoration: none;
    color: inherit;
    &:hover,
    &:active {
      text-decoration: underline;
      transition: 3s;
    }
  }

  .fas {
    color: white;
    margin-right: 0.5rem;
  }
  .fa-handshake {
    transform: rotate(-35deg);
  }
}
