.footer {
  background-color: $color-footer;
  padding: 1rem;
  color: #ffffff;
  margin-top: 2.5vw;

  &__textlight {
    font-weight: 100;
  }

  a {
    text-decoration: none;
    color: inherit;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  .fas {
    color: white;
    margin-right: 0.5rem;
  }
  .fa-handshake {
    transform: rotate(-35deg);
  }
}

.footer__contenu {
  @include desk-and-tab-version {
    width: 85vw;
    margin-left: 5vw;
    display: flex;
    justify-content: space-between;
  }
}

h5 {
  @include desk-and-tab-version {
    margin-left: 5vw;
    font-size: 1.6rem;
    margin-bottom: 0.5vw;
  }
}
