.header {
  width: 100%;
  background-color: white;
  height: $height-header-mob;
  padding-top: 3vw;
  border-bottom: 1px #efefef solid;
  box-shadow: 0 4px 4px rgba(163, 162, 162, 0.5);
  z-index: 2;
  @media all and (min-width: $bkpt-mob) and (max-width: $bkpt-tab) {
    height: $height-header-tab;
    padding-top: 0.3vw;
    position: fixed;
  }
  @media all and(min-width: $bkpt-tab) {
    height: $height-header-desk;
    padding-top: 0.6vw;
    padding-bottom: 0vw;
    position: fixed;
    margin-top: 0vw;
  }
  &__logo {
    width: 55vw;
    margin-left: 20vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    position: relative;
    @media all and (min-width: $bkpt-mob) and (max-width: $bkpt-tab) {
      width: 15vw;
      margin-left: 42.5vw;
    }
    @media all and(min-width: $bkpt-tab) {
      width: 11vw;
      margin-top: 0vw;
      margin-left: 44.5vw;
    }
  }
  .fa-arrow-left {
    color: black;
    position: absolute;
    left: 5%;
    line-height: $height-header-mob - 5vw;
    font-size: 1.4rem;
    @media all and (min-width: $bkpt-mob) and (max-width: $bkpt-tab) {
      line-height: $height-header-tab;
      padding-right: 3rem;
      padding-left: 3rem;
    }
    @media all and(min-width: $bkpt-tab) {
      line-height: $height-header-desk - 0.9vw;
      padding-right: 3rem;
      padding-left: 3rem;
    }
  }
}
main {
  @media all and (min-width: $bkpt-mob) and (max-width: $bkpt-tab) {
    padding-top: $height-header-tab + 0.8vw;
  }
  @media all and(min-width: $bkpt-tab) {
    padding-top: $height-header-desk;
  }
}
