.header {
  width: 100%;
  background-color: white;
  height: $height-header-mob;
  padding-top: 3vw;
  border-bottom: 1px #efefef solid;
  box-shadow: 0 4px 4px rgba(163, 162, 162, 0.5);
  z-index: 2;
  @media all and (min-width: $bkpt-mob) and (max-width: $bkpt-tab) {
    height: 5vw;
    padding-top: 0.5vw;
    position: fixed;
    margin-top: -0.4vw;
  }
  @media all and(min-width: $bkpt-tab) {
    height: 5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    position: fixed;
    margin-top: -1vw;
  }
  &__logo {
    width: 60vw;
    margin-left: 20vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    position: relative;
    @media all and (min-width: $bkpt-mob) and (max-width: $bkpt-tab) {
      width: 15vw;
      /*margin-top: 1.1vw;*/
      margin-left: 42.5vw;
    }
    @media all and(min-width: $bkpt-tab) {
      width: 11vw;
      /*margin-top: 0vw;*/
      margin-left: 45.5vw;
    }
  }
  .fa-arrow-left {
    color: black;
    position: absolute;
    left: 5%;
    line-height: 13vw;
    font-size: 1.4rem;
    @media all and (min-width: $bkpt-mob) and (max-width: $bkpt-tab) {
      line-height: 5vw;
    }
    @media all and(min-width: $bkpt-tab) {
      line-height: 4vw;
    }
  }
}
main {
  @media all and (min-width: $bkpt-mob) and (max-width: $bkpt-tab) {
    padding-top: 5vw;
  }
  @media all and(min-width: $bkpt-tab) {
    padding-top: 4.5vw;
  }
}
