.pages {
  background-color: $color-fond;
}

.menus__liste {
  width: 100%;
  margin: 0;
  padding-top: 0rem;
  @include desk-version {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0;
  }
}

.entrees div:last-child,
.plats div:last-child,
.desserts div:last-child {
  margin-bottom: 9vw;
  @include desk-version {
    margin-bottom: 4vw;
  }
}

.entrees::before,
.plats::before,
.desserts::before {
  @include desk-version {
    content: "";
    display: block;
    width: 20vw;
    height: 0.1rem;
    background-color: $color-tertiary;
    transform: rotate(90deg) translateX(100%) translateY(6000%);
    animation: apparitionfondu;
    animation-duration: $dureeanimation-menuitem + 0.2s;
  }
}

.entree--noteenchantee::before {
  @include desk-version {
    content: "";
    display: block;
    width: 30vw;
    height: 0.1rem;
    background-color: $color-tertiary;
    transform: rotate(90deg) translateX(80%) translateY(9800%);
    animation: apparitionfondu;
    animation-duration: $dureeanimation-menuitem + 0.2s;
  }
}

.titremenus {
  text-transform: uppercase;
  font-weight: 400;
  animation-name: entreeitems;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  &::after {
    content: "";
    display: block;
    width: 4rem;
    height: 0.3rem;
    background-color: $color-tertiary;
  }
  @include tab-version {
    margin-left: 0.5 * (100vw -$width-menu-item-tab);
  }
  @include desk-version {
    margin-bottom: 3vw;
    margin-top: 0;
    margin-left: 1vw;
  }
}

.menuitem {
  width: $width-menu-item-mob;
  height: $height-menu-item-mob;
  background-color: white;
  margin-left: 0.5 * (100vw -$width-menu-item-mob);
  margin-bottom: 4vw;
  @include bordradius;
  @include ombre;
  overflow: hidden;
  position: relative;
  animation-name: entreeitems;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  @for $i from 2 through $nb-menuitems {
    &:nth-child(#{$i}) {
      animation-delay: ($i) * $delai-anim-entree-menuitem;
    }
  }
  @include tab-version {
    width: $width-menu-item-tab;
    height: $height-menu-item-tab;
    margin-left: 0.5 * (100vw -$width-menu-item-tab);
  }
  @include desk-version {
    width: $width-menu-item-desk;
    height: $height-menu-item-desk;
    margin-left: 0;
    margin-right: 0;
  }

  &__nom {
    width: 85%;
    height: 100%;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    float: left;
  }
  &__nom h4 {
    padding-bottom: 0rem;
    padding-top: 0.5rem;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media all and (max-width: $bkpt-minimob) {
      font-size: 1rem;
    }
    @media all and(min-width: $bkpt-tab) and (max-width: 1200px) {
      font-size: 1.05rem;
    }
  }
  &__nom p {
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media all and (max-width: $bkpt-minimob) {
      font-size: 0.8rem;
    }
    @media all and(min-width: $bkpt-tab) and (max-width: 1200px) {
      font-size: 0.9rem;
    }
  }
  &__prix {
    width: 15%;
    height: 100%;
    padding-top: 1.2em;
    padding-bottom: 3.5vw;
    padding-right: 7vw;
    padding-left: 3vw;
    font-size: 1.2rem;
    font-weight: 900;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media all and (max-width: $bkpt-minimob) {
      font-size: 1rem;
    }
    @include desk-and-tab-version {
      padding-left: 0rem;
      padding-right: 0rem;
      padding-bottom: 0.15 * $height-menu-item-tab;
    }
  }
  &:hover {
    @include ombre-hover;
    > .menuitem__prix {
      transform: translateX(-100%);
      transition: transform $dureeanimation-menuitem;
    }
    > .menuitem__nom {
      width: 70%;
      transition: width $dureeanimation-menuitem;
      /*transform: scaleX(0.823);
      transform-origin: left;
      transition: transform 0.5s;*/
    }
    > .menuitem__icone {
      transform: translateX(-100%);
      transition: transform $dureeanimation-menuitem;
      right: -16%;
    }
    > .menuitem__icone > .fa-check-circle {
      transform: rotate(360deg);
      transition: $dureeanimation-menuitem;
    }
  }
}

.menuitem__icone {
  background-color: $color-tertiary;
  height: 100%;
  width: 15%;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  border-radius: 0 20px 20px 0;
  float: right;
  transform: translateX(100%);
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .fa-check-circle {
    background-color: $color-tertiary;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }
}
