.presentation {
  height: auto;
  background-color: $color-fond;
  margin-top: 4px;
  padding-bottom: 3.5vw;
  p {
    text-align: center;
    padding: 0 1rem;
    margin-top: 0px;
    font-size: 1.1rem;
    @media all and(min-width: $bkpt-tab) {
      font-size: 1rem;
    }
  }
  h2 {
    @media all and (min-width: $bkpt-mob) and (max-width: $bkpt-tab) {
      font-size: 1.5rem;
    }
    @media all and(min-width: $bkpt-tab) {
      font-size: 1.5rem;
    }
  }
  @media all and (min-width: $bkpt-mob) and (max-width: $bkpt-tab) {
    padding-bottom: 0.1vw;
    width: $width-presentation-tab;
    margin-left: 0.5 * (100-$width-presentation-tab);
    margin-top: 1vw;
    @include bordradius;
  }
  @media all and(min-width: $bkpt-tab) {
    padding-bottom: 1vw;
    width: $width-presentation-desk;
    margin-left: 0.5 * (100-$width-presentation-desk);
    margin-top: 1vw;
    @include bordradius;
  }
}

.fonctionnement__liste {
  @media all and (min-width: $bkpt-mob) and (max-width: $bkpt-tab) {
    display: flex;
    justify-content: space-around;
  }
  @media all and(min-width: $bkpt-tab) {
    display: flex;
    justify-content: space-around;
  }
}

.listeresto {
  background-color: $color-fond;
  width: 100%;
  padding-bottom: 3.5vw;
  padding-top: 1vw;
  @media all and(min-width: $bkpt-mob) {
    width: $width-listeresto-tab;
    margin-left: 0.5 * (100-$width-listeresto-tab);
    @include bordradius;
  }
  a {
    text-decoration: none;
    color: inherit;
    &:active > .article,
    &:hover > .article {
      @include ombre-hover;
      /*transition: 1s;*/
    }
  }
}

.listeresto h3 {
  @media all and(min-width: $bkpt-mob) {
    margin-left: 1.5vw;
    margin-top: 1vw;
  }
}

.listeresto__liste {
  @media all and(min-width: $bkpt-mob) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    height: 70vw;
  }
}

.entete {
  width: 100%;
  margin-bottom: 0;
}

@each $restaurant in $restaurants {
  .entete__pict--#{$restaurant} {
    background-image: url("/img/#{$restaurant}.jpg");
    width: 100vw;
    height: 50vw;
    background-size: cover;
    background-position: center 70%;
    @media all and (min-width: $bkpt-mob) and (max-width: $bkpt-tab) {
      height: 25vw;
    }
    @media all and(min-width: $bkpt-tab) {
      height: 15vw;
      background-position: center 60%;
    }
  }
}

h1 {
  @media all and(min-width: $bkpt-tab) {
    font-size: 2rem;
  }
}

.restotitre {
  width: 100%;
  border-radius: 25px 25px 0 0;
  background-color: $color-fond;
  margin-top: -5.5vw;
  padding: 1rem;
  padding-top: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media all and (min-width: $bkpt-mob) and (max-width: $bkpt-tab) {
    margin-top: -3vw;
    justify-content: space-around;
    border-radius: 50px 50px 0 0;
    width: 75vw;
    margin-left: 12.5vw;
  }
  @media all and(min-width: $bkpt-tab) {
    margin-top: -3vw;
    justify-content: space-around;
    border-radius: 75px 75px 0 0;
    width: 75vw;
    margin-left: 12.5vw;
  }
}
