.presentation {
  height: auto;
  background-color: $color-fond;
  margin-top: 4px;
  padding-bottom: 3.5vw;
  p {
    text-align: center;
    padding: 0 1rem;
    margin-top: 0px;
    font-size: 1.1rem;
  }
}

.listeresto {
  background-color: $color-fond;
  width: 100%;
  padding-bottom: 3.5vw;
  padding-top: 3.5vw;
  a {
    text-decoration: none;
    color: inherit;
    &:active > .article,
    &:hover > .article {
      @include ombre-hover;
      /*transition: 1s;*/
    }
  }
}

.entete {
  width: 100%;
  margin-bottom: 0;
}

@each $restaurant in $restaurants {
  .entete__pict--#{$restaurant} {
    background-image: url("/img/#{$restaurant}.jpg");
    width: 100vw;
    height: 50vw;
    background-size: cover;
    background-position: center 70%;
  }
}

.restotitre {
  width: 100%;
  border-radius: 25px 25px 0 0;
  background-color: $color-fond;
  margin-top: -5vw;
  padding: 1rem;
  padding-top: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
