.presentation {
  height: auto;
  background-color: $color-fond;
  margin-top: 4px;
  padding-bottom: 3.5vw;
  p {
    text-align: center;
    padding: 0 1rem;
    margin-top: 0px;
    font-size: 1.1rem;
    @media all and(min-width: $bkpt-tab) {
      font-size: 1rem;
    }
  }
  h2 {
    @media all and (min-width: $bkpt-mob) and (max-width: $bkpt-tab) {
      font-size: 1.5rem;
    }
    @media all and(min-width: $bkpt-tab) {
      font-size: 1.5rem;
    }
  }
  @media all and (min-width: $bkpt-mob) and (max-width: $bkpt-tab) {
    padding-bottom: 0.1vw;
    width: 95vw;
    margin-left: 2.5vw;
    margin-top: 1vw;
    @include bordradius;
  }
  @media all and(min-width: $bkpt-tab) {
    padding-bottom: 1vw;
    width: 95vw;
    margin-left: 2.55vw;
    margin-top: 1vw;
    @include bordradius;
  }
}

.listeresto {
  background-color: $color-fond;
  width: 100%;
  padding-bottom: 3.5vw;
  padding-top: 3.5vw;
  a {
    text-decoration: none;
    color: inherit;
    &:active > .article,
    &:hover > .article {
      @include ombre-hover;
      /*transition: 1s;*/
    }
  }
}

.entete {
  width: 100%;
  margin-bottom: 0;
}

@each $restaurant in $restaurants {
  .entete__pict--#{$restaurant} {
    background-image: url("/img/#{$restaurant}.jpg");
    width: 100vw;
    height: 50vw;
    background-size: cover;
    background-position: center 70%;
    @media all and (min-width: $bkpt-mob) and (max-width: $bkpt-tab) {
      height: 25vw;
    }
    @media all and(min-width: $bkpt-tab) {
      height: 15vw;
      background-position: center 60%;
    }
  }
}

h1 {
  @media all and(min-width: $bkpt-tab) {
    font-size: 2rem;
  }
}

.restotitre {
  width: 100%;
  border-radius: 25px 25px 0 0;
  background-color: $color-fond;
  margin-top: -5.5vw;
  padding: 1rem;
  padding-top: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media all and (min-width: $bkpt-mob) and (max-width: $bkpt-tab) {
    margin-top: -3vw;
    justify-content: space-around;
    border-radius: 50px 50px 0 0;
    width: 75vw;
    margin-left: 12.5vw;
  }
  @media all and(min-width: $bkpt-tab) {
    margin-top: -3vw;
    justify-content: space-around;
    border-radius: 75px 75px 0 0;
    width: 75vw;
    margin-left: 12.5vw;
  }
}
