.saisieville {
  background-color: darken($color-fond, 7%);
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  border: 0px;
  text-align: center;
  font-weight: 700;
  &:focus {
    background-color: rgba($color-fond, 0.1);
    transition: background-color 0.3s;
  }
  @media all and (min-width: $bkpt-mob) {
    border-radius: 20px 20px 0 0;
    border: 1px solid;
    border-color: darken($color-fond, 9%);
    @include ombre;
    &:focus {
      @include ombre-hover;
    }
  }
}

.form--ville {
  position: relative;
}

.fa-map-marker-alt {
  position: absolute;
  top: 19%;
  left: 25%;
  @media all and (min-width: $bkpt-mob) {
    left: 20vw;
  }
}

.bouton--arrondi {
  width: $width-bouton-arrondi-mob;
  height: $height-bouton-arrondi-mob;
  margin-left: 0.5 * (100vw - $width-bouton-arrondi-mob);
  margin-bottom: 3vw;
  margin-top: 3vw;
  border-radius: 29px;
  @include ombre;
  background: linear-gradient(#{$color-secondary}, #{$color-primary});
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  line-height: $height-bouton-arrondi-mob;
  &:hover,
  &:active {
    @include ombre-hover;
    opacity: 0.75;
    transition: opacity 0.3s;
  }
  @media all and (min-width: $bkpt-mob) and (max-width: $bkpt-tab) {
    width: $width-bouton-arrondi-tab;
    height: $height-bouton-arrondi-tab;
    line-height: $height-bouton-arrondi-tab;
    margin-left: 0.5 * (100vw - $width-bouton-arrondi-tab);
  }
  @media all and(min-width: $bkpt-tab) {
    width: $width-bouton-arrondi-desk;
    height: $height-bouton-arrondi-desk;
    line-height: $height-bouton-arrondi-desk;
    margin-left: 0.5 * (100vw - $width-bouton-arrondi-desk);
    margin-top: 2vw;
    margin-bottom: 0.2vw;
  }
  @media all and(min-width: 2100px) {
    width: $width-bouton-arrondi-4k;
    height: $height-bouton-arrondi-4k;
    line-height: $height-bouton-arrondi-4k;
    margin-top: 1vw;
  }
}

.presentation .bouton--arrondi {
  @media all and(min-width: $bkpt-tab) {
    margin-left: 0.5 * ($width-presentation-desk - $width-bouton-arrondi-desk);
  }
  @media all and(min-width: 2100px) {
    margin-left: 0.5 * ($width-presentation-desk - $width-bouton-arrondi-4k);
  }
}

.etape {
  position: relative;
  width: $width-etape-mob;
  height: $height-etape-mob;
  margin-left: 0.5 * (100vw - $width-etape-mob);
  margin-bottom: 5vw;
  line-height: $height-etape-mob;
  font-weight: 600;
  text-align: center;
  background-color: $color-fond;
  @include bordradius;
  @include ombre;
  &:hover,
  &:active {
    background-color: rgba($color-primary, 0.15);
    transition: 0.3s;
    @include ombre-hover;
    > .fas {
      color: $color-primary;
      transition: 0.2s;
    }
  }
  @media all and (min-width: $bkpt-mob) and (max-width: $bkpt-tab) {
    width: $width-etape-tab;
    height: $height-etape-tab;
    line-height: $height-etape-tab;
    margin-left: 1vw;
    margin-right: 0vw;
    font-size: 0.9rem;
  }
  @media all and(min-width: $bkpt-tab) {
    width: $width-etape-desk;
    height: $height-etape-desk;
    line-height: $height-etape-desk;
    margin-left: 1vw;
    margin-right: 0vw;
    border-radius: 30px;
  }
  @media all and(min-width: 2100px) {
    width: $width-etape-4k;
    height: $height-etape-4k;
    line-height: $height-etape-4k;
  }
  .fas {
    padding-right: 1.8rem;
    @media all and (min-width: $bkpt-mob) and (max-width: $bkpt-tab) {
      padding-right: 1rem;
      font-size: 0.9rem;
    }
  }
  &__number {
    width: 1.5rem;
    height: 1.5rem;
    /*padding-top: 0.3rem;*/
    line-height: 1.5rem;
    font-size: 0.8rem;
    color: white;
    font-weight: 400;
    border-radius: 50%;
    background-color: $color-primary;
    position: absolute;
    left: -2%;
    top: 38%;
    @media all and (min-width: $bkpt-mob) and (max-width: $bkpt-tab) {
      left: -6%;
      top: 30%;
    }
    @media all and(min-width: $bkpt-tab) {
      left: -3.5%;
    }
    @media all and(min-width: 2100px) {
      left: -2.5%;
    }
  }
}

.coeurfavori {
  .far {
    font-size: 2rem;
    opacity: 1;
    &:hover,
    &:active {
      opacity: 0;
      transition: all 0.5s;
    }
  }
  .fas {
    font-size: 2rem;
    transform: translateX(-115%);
    color: $color-primary;
    opacity: 0;
    &:hover,
    &:active {
      opacity: 1;
      transition: all 0.5s;
    }
  }
}

.coeurfavori:hover > .far {
  opacity: 0;
  transition: all 0.5s;
}

button {
  border: 0px;
  font-family: $font-texte;
  /*padding-bottom: 1rem;*/
}
