.loader__bloc {
  width: 100vw;
  height: 100vh;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: wait;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  animation: disparitionloader 0.5s ease-in-out 3s both;
}

.loader__bloc--test {
  animation: none;
}

.loader__title {
  font-family: $font-logo;
  font-size: 2.5rem;
  color: $color-tertiary;
}
.loader__subtitle {
  font-family: $font-texte;
  font-size: 1.8rem;
  color: $color-tertiary;
  margin-bottom: 1.7vh;
}

.loader--circle {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: 0.5rem rgba($color-tertiary, 0.6) dotted;
  display: inline-block;
  line-height: 100vh;
  animation: tour 3s linear 0s 2;
  position: relative;
  &::before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    border: 0.3rem rgba($color-tertiary, 0.7) solid;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: 1rem;
    right: 1rem;
    left: 1rem;
    bottom: 1rem;
    animation: tour 1.5s linear 0s 2 reverse;
  }
}

.loader--icone {
  width: 100%;
  display: inline-block;
  color: $color-tertiary;
  text-align: center;
  line-height: 100vh;
  font-size: 2.5rem;

  animation: tour 8s linear 0s 1;
  position: absolute;
  top: 35%;
}

/*@keyframes pendule {
  0% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(-50deg);
  }
}*/
/*animation-name: pendule;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.04, 0.66, 1, 0.43);
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;*/

@keyframes tour {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes disparitionloader {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0%;
    transform: scale(0) translateX(100%);
    transform-origin: top left;
  }
}
