* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}
body {
  margin: 0;
  font-family: $font-texte;
}

.slogan {
  margin-bottom: 0.9rem;
  padding: 0rem 1rem;
  font-size: 2.2rem;
  font-weight: 900;
  text-align: center;
}

h3 {
  margin-left: 4vw;
}

h4 {
  margin: 0;
}
h5 {
  font-family: $font-logo;
  font-size: 1.1rem;
  font-weight: 300;
  margin-top: 0;
}
