$bkpt-minimob: 370px;
$bkpt-mob: 768px;
$bkpt-tab: 1024px;

$width-bouton-arrondi-mob: 60vw;
$width-bouton-arrondi-tab: 35vw;
$width-bouton-arrondi-desk: 25vw;
$width-bouton-arrondi-4k: 17vw;
$height-bouton-arrondi-mob: 12vw;
$height-bouton-arrondi-tab: 5vw;
$height-bouton-arrondi-desk: 4vw;
$height-bouton-arrondi-4k: 2.5vw;

$width-etape-mob: 90vw;
$width-etape-tab: 27vw;
$width-etape-desk: 24vw;
$width-etape-4k: 18vw;
$height-etape-mob: 18vw;
$height-etape-tab: 6vw;
$height-etape-desk: 5vw;
$height-etape-4k: 3vw;

$width-presentation-tab: 95vw;
$width-presentation-desk: 80vw;

$width-listeresto-mob: 100vw;
$width-listeresto-tab: 95vw;

$height-header-mob: 18vw;
$height-header-tab: 5vw;
$height-header-desk: 3vw;

$width-article-mob: 90vw;
$width-article-tab: 39vw;
$width-article-desk: 90vw;

$height-article-mob: 65vw;
$height-article-tab: 30vw;
$height-article-desk: 65vw;

$width-menu-item-mob: 90vw;
$width-menu-item-tab: 50vw;
$width-menu-item-desk: 30vw;
$height-menu-item-mob: 20vw;
$height-menu-item-tab: 12vw;
$height-menu-item-desk: 7vw;
