$bkpt-minimob: 370px;
$bkpt-mob: 768px;
$bkpt-tab: 1024px;
/*$media-mini: all and
  (
    max-width: $bkpt-minimob,
  );
$media-tab: all and
  (
    min-width: $bkpt-mob,
  )
  and
  (
    max-width: $bkpt-tab,
  );
$media-desk: all and
  (
    min-width: $bkpt-tab,
  );*/
