$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-fond: #f6f6f6;
$color-footer: #353535;

$font-logo: "Shrikhand", cursive;
$font-texte: "Roboto", sans-serif;

$dureeanimation-menuitem: 0.4s;
$nb-menuitems: 5;
$delai-anim-entree-menuitem: $dureeanimation-menuitem / $nb-menuitems;

$restaurants: lapalettedugout, lanoteenchantee, alafrancaise, ledelicedessens;

@mixin ombre {
  box-shadow: 1px 1px 18px #e4e3e3;
}

@mixin ombre-hover {
  box-shadow: 3px 3px 18px #838282;
  transition: box-shadow 0.4s;
}

@mixin bordradius {
  border-radius: 20px;
}

@function mglcenter($nb) {
  $result: 0.5 * (100-$nb);
  @return $result;
}

@keyframes entreeitems {
  0% {
    transform: translateY(4vh);
    opacity: 0;
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(2vh);
    opacity: 0.3;
    animation-timing-function: linear;
  }
  75% {
    transform: translateY(1vh);
    opacity: 0.5;
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    animation-timing-function: ease-out;
  }
}

@keyframes apparitionfondu {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  90% {
    opacity: 0.2;
    animation-timing-function: ease-out;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tour {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes disparitionloader {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0%;
    transform: scale(0) translateX(100%);
    transform-origin: top left;
  }
}
